<div id="categories">
    <button onclick="showDropdown('newCategory')" id="newCategoryBtn" class="bigBtn bgAccent hoverBgSpecial roundBorder">
        Создать категорию ▼
    </button>
    <ul class="noUlDecor noUlDefaultPadding relative">
        <div id="dropdownAreanewCategory" class="dropdownArea hidden relative">
            <form id="newCategory" method="POST" action="/category/create" class="popup hidden bgWhite roundBorder shadowed1">
                <div class="popupBody mbItems">
                    <input type="text" name="newCategoryName" class="textInput roundBorder" placeholder="Имя категории"
                        required autocomplete="off" maxlength="32">
                    <div class="formErrorText colorDanger"></div>
                    <input type="submit" value="Создать" class="bigBtn hoverBgSpecial bgAccent roundBorder">
                </div>
            </form>
        </div>
        <h2 class="colorTextDark">Категории</h2>

        <li class="roundBorder {{#not category}} bgWhite {{/not}}">
            <a class="colorDark hoverColorAccent " href="/category/all">Все</a>
        </li>
        {{#each categories}}
        <li class="roundBorder {{#eq ../category.id this.id}} bgWhite {{/eq}}">
            <a class="{{#eq ../category.id this.id}} colorDark {{else}} colorMedium {{/eq}}hoverColorAccent"
                href="/category/{{this.id}}">{{this.name}}</a>
        </li>
        {{/each}}
    </ul>
</div>
