<ul class="ulCategories noUlDecor noUlDefaultPadding">
    <h style="background: white; margin-bottom: 0" class="category colorTextDark category-link">
        Все
    </h>
    {{#each categories}}
        <li class="category colorSectionCategory colorDarkLink">
            <a class="category-link colorTextDark"
               href="/category/{{this.id}}">{{this.name}}</a>
        </li>
    {{/each}}
</ul>