<ul class="ulCategories">
    {{#each categories}}
        <li class="category colorSection colorDarkLink">
            <a class="category-link colorTextDark"
               href="/category/{{this.id}}">{{this.name}}</a>
        </li>
    {{/each}}
</ul>