<ul class="ulCategories" style="position: relative;">
    <button onclick="showNewCategory()">Создать категорию</button>
    <div id="newCategory" method="POST" class="hidden">
        <input type="text" name="newCategoryName">
        <input type="submit">
    </div>
    {{#each categories}}
        <li class="liCategories category colorSection colorDarkLink">
            <a class="category-link colorTextDark"
               href="/category/{{this.id}}">{{this.name}}</a>
        </li>
    {{/each}}
</ul>

<script>
    const showNewCategory = () => document.getElementById('newCategory').classList.toggle('hidden')
</script>
