<ul class="ulCategories">
    {{#each categories}}
        <li class="theme link colorSection colorDarkLink">
            <a class="theme link colorDarkLink colorTextDark colorSection"
               href="/category/{{this.id}}">{{this.name}}</a>
        </li>
    {{/each}}
</ul>