<ul class="ulCategories noUlDecor noUlDefaultPadding">
    {{#each categories}}
        <li class="category colorSectionCategory colorDarkLink">
            <a class="category-link colorTextDark"
               href="/category/{{this.id}}">{{this.name}}</a>
        </li>
    {{/each}}
</ul>