{{#each posts}}

  <a href="/post/{{this.id}}" style="border: 2px solid black">
      Автор: {{this.author_name}}
      Категория: {{this.category_name}}
      Заголовок: {{this.title}}
  </a> <br>
{{/each}}
