<div id="dropdownAreaprofileOptionsList" class="dropdownArea hidden relative">
    <ul id="profileOptionsList" class="hidden menuList roundBorder shadowed1">
        <li><a href="/category/myPosts">Мои посты</a></li>
        <li><a href="/logout">Выйти</a></li>
        <li><a class="colorTextDanger" href="/deleteProfile">Удалить аккаунт</a></li>
    </ul>
</div>