<div id="makeDark">
    <div id="SignUpWindow" class="colorMain">
        <div style="margin-bottom: 1%; margin-top: 1%" class="colorTextLight">Your account</div>
        <input style="margin-top: 5%; font-size: 14pt" type="text" placeholder="Login"><br>
        <input style="margin-top: 5%; font-size: 14pt" type="password" placeholder="Password">
        <a href="#" type="button" class="close colorDarkLink colorBackground">Sign up</a>
    </div>
</div>

<div class="header colorHeader">
    <a class="headerText link colorDarkLink colorTextLight" href="/">IU9-Forum</a>
    <a class="headerText link colorDarkLink colorTextLight" href="#makeDark">Sign Up</a>
</div>