<div id="makeDark" xmlns="http://www.w3.org/1999/html">
    <div id="SignUpWindow" class="colorMain">
        <div style="margin-bottom: 1%; margin-top: 1%" class="colorTextLight">Your account</div>
        <input style="margin-top: 5%; font-size: 14pt" type="text" placeholder="Login"><br>
        <input style="margin-top: 5%; font-size: 14pt" type="password" placeholder="Password">
        <a href="#" type="button" class="close colorDarkLink colorBackground">Sign up</a>
    </div>
</div>

<header id="topBar" class="colorHeader">
    <a id="headerLogo" class="link colorDarkLink colorTextLight" href="/">IU9-Forum</a>
    <a id="headerUser" class=" link colorDarkLink colorTextLight" href="#makeDark">Sign Up</a>
</header>