{{#not user}}
    {{>loginPanel}}
    {{>signupPanel}}
{{else}}
    {{>postCreationPanel}}
{{/not}}
{{>head}}
{{>topbar}}
{{>message}}
{{>editReplyPanel}}

<div class="container relative">
    <div id="categories" class="colorMain">
        <a class="makeCategory bigBtn accentBtn roundBorder"> Создать категорию </a>
        <h2 style="border-bottom-style:solid;" class="colorTextDark">Категории</h2>
        {{>categoriesListPanel}}
    </div>

    {{>postPanel}}
</div>