<div id="popUpContainer" class="hidden" onclick="hidePopups()">
    {{#not user}}
    {{>loginPanel}}
    {{>signupPanel}}
{{else}}
    {{>createPostPanel}}
    {{>editReplyPanel}}

{{/not}} </div>
{{>head}}
{{>topbar}}
{{>message}}

<div class="container relative">
    <div id="categories" class="colorMain">
        <h2 style="border-bottom-style:solid;" class="colorTextLight">Категории</h2>
        {{>categoriesListPanel}}
    </div>

    {{>postPanel}}
</div>