{{#not user}}
{{>loginPanel}}
{{>signupPanel}}
{{else}}
{{>postCreationPanel}}
{{/not}}
{{>head}}
{{>topbar}}
{{>message}}
{{>editPostPanel}}

<div class="container relative" style="">

    {{>categoriesListPanel}}
    {{>postsListPanel}}
</div>