{{#not user}}
    {{>loginPanel}}
    {{>signupPanel}}
{{else}}
    {{>postCreationPanel}}
{{/not}}
{{>head}}
{{>topbar}}
{{>message}}
{{>editPostPanel}}

<div class="container relative" style="">
    <div id="categories" class="colorMain">
        <button id="makeCategory" class="bigBtn bgAccent hoverBgSpecial roundBorder">
            Создать категорию
        </button>
        <h2 class="colorTextDark">Категории</h2>
        {{>categoriesListPanel}}
    </div>
    {{>postsListPanel}}
</div>