{{>head}}
{{>topbar}}
<div class="container relative" style="">
    <div id="categories" class="colorMain">
        <h2 style="border-bottom-style:solid;" class="colorTextLight">Категории</h2>
        {{>categoriesListPanel}}
    </div>
    {{>postsListPanel}}


</div>