<script>
    if (!{{postSuccess}})
        alert('Already exist!')

</script>
{{>head}}
{{>topbar}}
<div class="container">

    <div class="themes colorMain">
        <h2 style="border-bottom-style:solid;" class="colorTextLight" ;>Categories</h2>
        {{>categoriesListPanel}}
    </div>

    {{>postsListPanel}}

</div>