<div id="popUpContainer" class="hidden" onclick="hidePopups()">{{#not user}}
    {{>loginPanel}}
    {{>signupPanel}}
{{else}}
    {{>createPostPanel}}
    {{>editPostPanel}}
{{/not}}
</div>
{{>head}}
{{>topbar}}
{{>message}}

<div class="container relative" style="">

    {{>categoriesListPanel}}
    {{>postsListPanel}}
</div>

<script src="/static/scripts/script.js"></script>

{{>postsListScript}}