<div id="createPostPopup" class="popup hidden bgLight roundBorder shadowed1">
    <header>
        <h3 class="colorDark">Новый пост</h3>
    </header>
    <div class="popupBody">
        <form method="post" action="/category/create" class="mbItems">
            <input type="text" placeholder="Категория" name="category" class="textInput roundBorder" id="createPostPopupFocus"
                   required>
            <input name="newPost" id="myAnswer" type="text" class="textInput block roundBorder" placeholder="Заголовок"
                   required>
            <textarea cols=75 rows="10" placeholder='Текст поста'
                      class="textInput roundBorder" required></textarea>
            <div class="formErrorText colorDanger"></div>
            <input type="submit" value="Создать"
                   class="bigBtn hoverBgSpecial bgAccent roundBorder">
        </form>
    </div>
</div>