<div id="createPostPopup" class="popup hidden">
    <form class="postCreationBox colorMain" method="post" action="/category/create">
        <div style="display: flex; flex-direction: column; justify-content: center;">
            <div class="colorTextLight">Category</div>
            <input style="margin-top: 5%; font-size: 14pt" type="text" placeholder="Введите категорию" name="category"
                   required>
        </div>
        <textarea placeholder="Создайте свой пост" name="newPost" id="myAnswer" required></textarea>
        <div class="marginButton">
            <input id="postAnswerButton" class="borderTop myButton colorDarkLink colorSection" type="image"
                   src="/static/images/send.png">
        </div>
    </form>
</div>
