<div id="editReplyPopup" class="window popup hidden">
    <form id="sendReply" class="postCreationBox colorMain">
        <div class="colorTextLight">Edit post</div>
        <textarea name="replyEdition" id="editReply" required></textarea>
        <input type="submit" class="borderTop myButton colorDarkLink colorSection" type="image"
               src="/static/images/send.png">
    </form>
</div>