<div id="editPostPopup" class="popup bgWhite hidden roundBorder shadowed1">
    <header>
        <h3 class="colorDark">Редактировать</h3>
        </header>
    <div class="popupBody">
        <form id="sendEdition" class="mbItems">
            <label for="editPost" class="block">Заголовок:</label>
            <input type="text" class="textInput roundBorder block" name="edition" id="editPost" size=50 maxlength="82">
            <input type="submit" value="Сохранить" class="bigBtn roundBorder shadowed1 bgAccent block hoverBgAccent"
                   src="/static/images/send.png">
        </form>
    </div>
</div>