<div id="editReplyPopup" class="popup hidden">
    <header><h3>Edit post</h3></header>
    <form id="sendReply" class="popupBody colorMain">
        <textarea name="replyEdition" id="editReply" required></textarea>
        <input type="submit" class="borderTop myButton colorDarkLink colorSection" type="image"
               src="/static/images/send.png">
    </form>
</div>