<div id="postChange" class="window">
    <form id="sendEdition" class="postCreationBox colorMain">
        <div class="colorTextLight">Edit post</div>
        <textarea name="edition" id="editPost" required></textarea>
        <input type="submit" class="borderTop myButton colorDarkLink colorSection" type="image"
               src="/static/images/send.png">
    </form>
</div>