<div id="loginPopup" class="popup bgLight roundBorder shadowed1 hidden">
    <header>
        <h3>Вход</h3>
    </header>
    <div class="popupBody ">
        <form method="post" action="/login" class="textCenter mbItems">
            <input type="text" class="textInput block roundBorder" id="loginPopupFocus" placeholder="Логин" name="login" required
                   autofocus>
            <input type="text" class="textInput block roundBorder" placeholder="Пароль" name="psw" required>
            <div id="loginErrorText" class="colorDanger"></div>
            <input type="submit" value="Войти" id=loginBtn" class="bigBtn hoverBgSpecial bgAccent roundBorder">
        </form>
    </div>
</div>
