<div id="loginPopup" class="popup bgWhite roundBorder shadowed1 hidden">
    <header>
        <h3 class="colorDark">Вход</h3>
    </header>
    <div class="popupBody ">
        <form method="post" action="/login" class="textCenter mbItems">
            <input type="text" class="textInput block roundBorder" placeholder="Логин" name="login" required>
            <input type="password" class="textInput block roundBorder" placeholder="Пароль" name="psw" required>
            <div id="loginErrorText" class="colorDanger"></div>
            <input type="submit" value="Войти" class="bigBtn hoverBgSpecial bgAccent roundBorder">
        </form>
    </div>
</div>
