<div id="signupPopup" class="popup bgWhite roundBorder shadowed1 hidden">
    <header>
        <h3 class="colorDark">Регистрация</h3>
    </header>
    <div class="popupBody ">
        <form method="post" action="/signup" class="textCenter mbItems">
            <input type="text" class="textInput block roundBorder" placeholder="Логин" name="login" maxlength="12" required>
            <input type="password" class="textInput block roundBorder" placeholder="Пароль" name="psw" required>
            <input type="password" class="textInput block roundBorder" placeholder="Повторите пароль" name="pswConf" required>
            <div id="signUpError" class="colorDanger"></div>
            <input type="submit" value="Зарегистрироваться" class="bigBtn hoverBgSpecial bgAccent roundBorder">
        </form>
    </div>
</div>
