@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* ГЛОБАЛЬНОЕ */

html {
    margin: 0;
    padding: 0;
    height: 100vh;
}

body {
    background: #eaf7f8;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #111;
}

h3 {
    margin: 0;
}

form {
    margin: 0;
}

select, a {
    cursor: pointer;
}


textarea {
    font-family: 'Roboto', sans-serif;
}




/* ПОЛОЖЕНИЕ */

.liPadding {
    padding: 25px;
}

.liMargin {
    margin: 0 0 2% 0;
}

.hidden {
    display: none !important;
}


.left {
    float: left;
}

.right {
    float: right;
}

.relative {
    position: relative;
}

.block {
    display: block;
}

.inlineBlock {
    display: inline-block;
}


.vertAlignItemsMid * {
    vertical-align: middle;
}

.mbItems > * {
    margin-bottom: 10px;
}

.mbItems:last-child {
    margin-bottom: 0
}


/* ЦВЕТА */

.bgWhite {
    background-color: white;
}

.colorHoverButton:hover {
    box-shadow: 0 0 6px 2px rgba(0,0,0,0.1);
}

.bgAccent {
    background: rgb(102, 204, 153);
}
.bgDanger {
    background-color: darkred;
}
.colorDanger {
    color: darkred !important;
}

.colorWhite {
    color: white;
}

.colorButton {
    background-color: #66cc99;
    color: #66cc99;
    fill: #66cc99;
}

.colorAccent {
    color: #66cc99;
}
.colorLight {
    color: #828282;
}

.colorMedium {
    color: #6f6f6f;
}

.colorDark {
    color: rgb(32, 32, 32);

}
.hoverColorAccent:hover {
    color: #66cc99;
}

.hoverBgWhite:hover {
    background: #fff;
}

.hoverBgAccent:hover {
    background: #66cc99;
}

.hoverBgSpecial:hover {
    background: #5cd6b5;
}

.hoverColorSpecial:hover {
    color: #5cd6b5;
}

.visitedColor:visited, .visitedColor:visited {
    color: #5cd6b5;
}


/* ВНЕШНОСТЬ */

.shadowed1 {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

.shadowed2 {
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
}

.roundBorder {
    border-radius: 4px;
}

/* Текст */

.textCenter {
    text-align: center;
}

.widthRegulate {
    width: 95%;
    line-height: 20px; 
    overflow: hidden;
    word-wrap: break-word;
    white-space: normal;
}


/* КНОПКИ */


.bigBtn {
    padding: 10px 18px;
    margin: 0;
    border: none;
    font-size: 1rem;
    color: white;
    transition: background-color .1s;
    cursor: pointer;
}


.accentBtn:focus, .bigBtn:focus {
    outline: none;
    background: #26A69A;
}

.roundBtn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    text-align: center;
    position: relative;
    cursor: pointer;
    transition: background-color .1s;
}


.roundBtn > input {
    position: absolute;
    width: 45%;
    top: 25%;
    z-index: 1;
    left: 28%;
}

.roundBtn > input:focus {
    outline: none;
}

/* ИНПУТЫ */

.textInput {
    border: 2px solid #dee0e2;
    background: #dee0e2;
    transition-property: border-color, background;
    transition: .1s;
    font-size: 1rem;
    padding: 5px;
}

.textInput:focus {
    outline: none;
    border-color: #66cc99;
    background: white;
}

.select {
    border: none;
    background: #e5e5e5;
    padding: 10px;
}



/* КАРТИНКИ */

.roundImg {
    border-radius: 100%;
}

.smallAvatar {
    width: 35px;
}


/* СПИСКИ */

ul.noUlDecor {
    list-style-type: none;
}

ul.noUlDefaultPadding {
    padding-left: 0;
}

ul.noMarginTop {
    margin-top: 1%;
}

ul.menuList {
    display: block;
    padding: 10px 0;
    background: white;
    list-style-type: none;
    cursor: pointer;
    z-index: 1;

}

.menuList > li {
    line-height: 2;
    font-size: .9rem;
}

.menuList a {
    display: block;
    color: dimgray;
    text-decoration: none;
    max-width: 100%;
    height: 100%;
    padding: 0 15px;
    transition: .2s;
    transition-property: background-color, color;
}

.menuList a:hover {
    background-color: #66cc99;
    color: white !important;
}

.menuList a:active {
    background-color: lightcoral;
}


/* ССЫЛКИ */

.linkTextNoDecor {
    text-decoration: none;
    transition: color .1s;
    cursor: pointer
}

/* ПОПАПЫ */
#popUpContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5);
}

.popup {
    margin: 200px auto;
    width: min-content;
}

.popup > header {
    border-bottom: 2px solid #66cc99;
    padding: 15px;
}

.popup > .popupBody {
    padding: 20px 30px 15px 20px;
}


/* ОСТАЛЬНОЕ */
/* ________ */


#composeReplyBtn {
    position: fixed;
    right: 300px;
    bottom: 100px;
}

#replyBtn > input {
    margin: -15px 0 0 -15px;
}

#replyForm {
    position: fixed;
    right: 280px;
    bottom: 50px;
    width: 800px;
    padding: 0 10px 25px 25px;
}


#replyFormHeader {
    padding: 8px 11px;
    text-align: right;

}

.hideIcon {
    width: 10px;
    height: 2px;
    border: 8px solid white;
    background: gray;
    cursor: pointer;
    transition: background-color .1s;
}

.hideIcon:hover {
    background: #4d4d00;
}

#replyForm textarea {
    width: 85%;
    min-height: 100px;
    resize: vertical;
    overflow-y: auto;
    padding: 15px;
    font-size: .9rem;
}


#replyform .roundBtn {
    margin-left: 30px;
}


#topBar {
    position: fixed;
    top: 0;
    width: 100vw;
    box-sizing: border-box;
    line-height: 50px;
    padding: 0 50px;
    z-index: 1;
}


#headerProfileBlock > * {
    margin: 0 10px;
}


#profileOptionsList {
    position: absolute;
    top: 0;
    right: 30px;
}

#dropdownAreaprofileOptionsList {
    width: 300px;
    height: 300px;
    left: 30px;
}

.postActionsList {
    position: absolute;
    right: 30px;
    bottom: 60px;
}


.dropdownAreapostActionsList {
    width: 200px;
    height: 200px;
    right: -60px;
    top: 70px;
    z-index: 1;
}

.dropdownAreareplyActionsList {
    width: 200px;
    height: 130px;
    right: -60px;
    bottom:-70px;
    z-index: 1;
}
.replyActionsList {
    position: absolute;
    right: 30px;
    bottom: 30px;

}

#ulReplies >li:first-child .replyActionsList > li:last-child {
    display: none;
}


#newPostPopup textarea {
    resize: vertical;
    min-height: 100px;
}

#loginPopup {
    width: 300px;
}

#editPostPopup {
    width: 400px;
}

#editPostPopup .textInput {
    width: 80%;
}


#editReplyPopup {
    width: min-content;

}

#editReplyPopup textarea {
    min-width: 300px;
    min-height: 100px;
}


#ulPosts > li {
    border-bottom: 5px solid #eaf7f8;
}

#ulPosts > li > a {
    text-decoration: none;
     display: block;
     width: 100%;
     height: 100%;
     color: black;
}

#ulPosts > li > a > header {
    padding: 25px 30px 0 30px;
}

#ulPosts > li > a > header > h3 {
    max-width: 90%;
    overflow: hidden;
    word-wrap: break-word;
    white-space: normal;
}

#ulPosts > li > a > .postMain {
    padding: 0 30px;
}

#ulPosts > li > footer {
    line-height: 40px;
    padding: 0 30px;
    margin-bottom: 20px;
}

#ulPosts > li > footer > .left > img,
#ulReplies > li > footer > .left > img {
    margin-right: 10px;
}


#ulReplies > li {
    border-bottom: 5px solid #eaf7f8;
}

#ulReplies > li:first-child {
    margin-top: -2%;
}

#ulPeplies > li > a {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    color: black;
}

#ulPeplies > li > .postMain {
    padding: 0 30px;
}

.noMarginTop {
    margin-top: 0;
}

#ulPeplies > li > footer {
    line-height: 40px;
    padding: 0 30px;
    margin-bottom: 20px;
}

#ulPeplies > li > footer > .left > img {
    margin-right: 10px;
}



.ulCategories {
    max-height: 70vh;
    overflow-y: auto;
}

.clearFix {
    clear: both;
}

.firstReplyPreviewText {
    line-height: 20px; 
    max-height: 40px; 
    overflow: hidden;
    word-wrap: break-word;
    white-space: normal;
}

.colorTextDanger {
    color: darkred !important;
}

.colorTextDark {
    color: #333333;
}

.container {
    width: 100vw;
    max-width: 100%;
    margin-top: 100px;
    box-sizing: border-box;
}

.link {
    font-family: 'Cinzel', sans-serif;
    text-decoration: none;
    transition-duration: 0.2s;
}

.dropdownArea {
    position: absolute; 
}
#categories {
    width: 18vw;
    position: fixed;
    border-radius: 1vh;
    top: 100px;
    left: 120px;
}

#newCategory {
    position: absolute;
    margin: 0;
    top: 140px;
    left: 50px;
}

#dropdownAreanewCategory {
    
    top:-150px;
    left: -50px;
    width: 400px; 
    height: 400px;
}


#categories > ul > li {
    width: 80%;
    text-align: left;
    padding-left: 1vw;
    
}


#categories > ul > li > a {
    line-height: 200%;
    display: block;
    font-size: 13pt;
    text-decoration: none;
    transition: color .1s;
}

#selectedTheme {
    width:45%;
    position: absolute;
    right: 400px;
}

#newCategoryBtn {
    margin-left: 0.9vw;
}
.voteCounter {
    margin-top: 3%;
    border-radius: 1vh;
    text-align: center;
}

.voteField {
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
    width: 5%;
    max-height: 30px;
}

.vote {
    width: 20px;
    margin-left: 25%;
    margin-bottom: 25%;
}

.postTitle {
    margin-top: 5%;
    padding: 30px 30px 0 25px;
}

.postTitle > h3 {
    max-width: 90%;
    overflow: hidden;
}

.returnButton {
    display: block;
    background: #ffffff;
    padding: 0.3% 0.3% 0.3% 0.3%;
    position: fixed;
    margin-top: 2.4%;
    margin-left: -4%;
    transition: box-shadow .1s;
}

.textTitle {
    width: 95%;
}

.sortLink {
    color: #333333;
    font-size: 12pt;
    margin-left: 1%;
    margin-right: 1%;
    text-decoration: none;

}

.sortLinkArrow {
    display: inline-block;
}

.chosenSortLinkAsc {
    color: #66cc99 !important;
}

.chosenSortLink {
    color: #66cc99 !important;
}

#message {
    position: absolute;
    width: 500px;
    line-height: 100px;
    background: hotpink;
    text-align: center;

    right: 0;
    bottom: 0;
}

