@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* ГЛОБАЛЬНОЕ */

html {
    margin: 0;
    padding: 0;
    height: 100vh;
}

body {
    background: #eaf7f8;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #111;
}

h3 {
    margin: 0;
}

form {
    margin: 0;
}

select, a {
    cursor: pointer;
}


textarea {
    font-family: 'Roboto', sans-serif;
}




/* ПОЛОЖЕНИЕ */

.hidden {
    display: none !important;
}


.left {
    float: left;
}

.right {
    float: right;
}

.relative {
    position: relative;
}

.block {
    display: block;
}

.inlineBlock {
    display: inline-block;
}


.vertAlignItemsMid * {
    vertical-align: middle;
}

.mbItems > * {
    margin-bottom: 10px;
}

.mbItems:last-child {
    margin-bottom: 0
}


/* ЦВЕТА */

.bgLight {
    background-color: white;
}

.bgAccent {
    background: #66cc99;
}
.bgDanger {
    background-color: darkred;
}
.colorDanger {
    color: darkred !important;
}

.colorWhite {
    color: white;
}
.colorAccent {
    color: #66cc99;
}
.colorLight {
    color: #828282;
}

.colorMedium {
    color: #6f6f6f;
}
.colorDark {
    color: rgb(32, 32, 32);
}

.hoverColorAccent:hover {
    color: #66cc99;
}


.hoverBgAccent:hover {
    background: #66cc99;
}

.hoverBgSpecial:hover {
    background: #5cd6b5;
}

.hoverColorSpecial:hover {
    color: #5cd6b5;
}

.visitedColor:visited, .visitedColor:visited {
    color: #5cd6b5;
}


/* ВНЕШНОСТЬ */

.shadowed1 {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

.shadowed2 {
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
}

.roundBorder {
    border-radius: 4px;
}

/* Текст */

.textCenter {
    text-align: center;
}


/* КНОПКИ */


.bigBtn {
    padding: 10px 18px;
    margin: 0;
    border: none;
    font-size: 1rem;
    color: white;
    transition: background-color .1s;
    cursor: pointer;
}


.accentBtn:focus, .bigBtn:focus {
    outline: none;
    background: #26A69A;
}

.roundBtn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    text-align: center;
    position: relative;
    cursor: pointer;
    transition: background-color .1s;
}


.roundBtn > input {
    position: absolute;
    width: 45%;
    top: 25%;
    z-index: 1;
    left: 28%;
}

.roundBtn > input:focus {
    outline: none;
}

/* ИНПУТЫ */

.textInput {
    border: 2px solid #e2e2de;
    background: #e2e2e2;
    transition-property: border-color, background;
    transition: .1s;
    font-size: 1rem;
    padding: 5px;
}

.textInput:focus {
    outline: none;
    border-color: #66cc99;
    background: white;
}

.select {
    border: none;
    background: #e5e5e5;
    padding: 10px;
}



/* КАРТИНКИ */

.roundImg {
    border-radius: 100%;
}

.smallAvatar {
    width: 35px;
}


/* СПИСКИ */

ul.noUlDecor {
    list-style-type: none;
}

ul.noUlDefaultPadding {
    padding-left: 0;
}

ul.menuList {
    display: block;
    padding: 10px 0;
    background: white;
    list-style-type: none;
    cursor: pointer;
    z-index: 1;

}

.menuList > li {
    line-height: 2;
    font-size: .9rem;
}

.menuList a {
    display: block;
    color: dimgray;
    text-decoration: none;
    max-width: 100%;
    height: 100%;
    padding: 0 15px;
    transition: .2s;
    transition-property: background-color, color;
}

.menuList a:hover {
    background-color: #66cc99;
    color: white !important;
}

.menuList a:active {
    background-color: lightcoral;
}


/* ССЫЛКИ */

.linkTextNoDecor {
    text-decoration: none;
    transition: color .1s;
    cursor: pointer
}

/* ПОПАПЫ */
#popUpContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5);
}

.popup {
    margin: 200px auto;
    width: min-content;
}

.popup > header {
    border-bottom: 2px solid #66cc99;
    padding: 15px;
}

.popup > .popupBody {
    padding: 20px 30px 15px 20px;
}


/* ОСТАЛЬНОЕ */
/* ________ */


#composeReplyBtn {
    position: fixed;
    right: 80px;
    bottom: 100px;
}

#replyForm {
    position: fixed;
    right: 280px;
    bottom: 50px;
    width: 800px;
    padding: 0 10px 25px 25px;
}


#replyFormHeader {
    padding: 8px 11px;
    text-align: right;

}

.hideIcon {
    width: 10px;
    height: 2px;
    border: 8px solid white;
    background: gray;
    cursor: pointer;
    transition: background-color .1s;
}

.hideIcon:hover {
    background: #4d4d00;
}

#replyForm textarea {
    width: 85%;
    min-height: 100px;
    resize: vertical;
    overflow-y: auto;
    padding: 15px;
    font-size: .9rem;
}


#replyform .roundBtn {
    margin-left: 30px;
}


#topBar {
    position: fixed;
    top: 0;
    width: 100vw;
    box-sizing: border-box;
    line-height: 50px;
    padding: 0 50px;
    z-index: 1;
}


#headerProfileBlock > * {
    margin: 0 10px;
}


#profileOptionsList {
    position: absolute;
    top: 60px;
    right: -30px;
}

.postActionsList {
    position: absolute;
    right: 0;
    bottom: -50px;
    
}

#newPostPopup textarea {
    resize: vertical;
    min-height: 100px;
}

#loginPopup {
    width: 300px;
}

#editPostPopup {
    width: 400px;
}

#editPostPopup .textInput {
    width: 80%;
}


#editReplyPopup {
    width: min-content;

}
#editReplyPopup textarea {
    min-width: 300px;
    min-height: 10 0px;
}


#ulPosts > li {
    border-bottom: 5px solid #eaf7f8;
}

#ulPosts > li > a {
    text-decoration: none;
     display: block;
     width: 100%;
     height: 100%;
     color: black;
}

#ulPosts > li > a > header {
    padding: 25px 30px 0 30px;
}

#ulPosts > li > a > header > h3 {
    max-width: 90%;
    overflow: hidden;
}

#ulPosts > li > a > .postMain {
    padding: 0 30px;
}

#ulPosts > li > footer {
    line-height: 40px;
    padding: 0 30px;
    margin-bottom: 20px;
}

#ulPosts > li > footer > .left > img {
    margin-right: 10px;
}
.ulCategories {
    max-height: 70vh;
    overflow-y: auto;
}

.clearFix {
    clear: both;
}

.firstReplyPreviewText {
    line-height: 20px; 
    max-height: 40px; 
    overflow: hidden;
}

.replyImage {
    max-width: 70%;
    margin-left: 4%;
    margin-bottom: 10%;
    border-top-left-radius: 0;
}

.categoryHeader {
    margin-left: 1%;
}

.myAvatar {
    margin-left: 1%;
}

.colorTextDanger {
    color: darkred !important;
}

.colorTextDark {
    color: #333333;
}

.colorTextLight {
    color: #ffffff;
}

.colorBackground {
    background: #ffffff;
}

.colorMain {
    background: #343338;
}

.colorSection {
    background: #CBC9D0;
}

.colorDarkLink {
    transition-property: background-color;
    transition: .1s;
}

.colorDarkLink:hover {
    background-color: #E1A487;
    cursor: pointer;
}


.myButton {
    margin-left: 1%;
    margin-right: 1%;
    border-bottom-left-radius: 1vh;
    border-bottom-right-radius: 1vh;
    margin-top: 1%;
}

.borderTop {
    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;
}

.close {
    display: inline-block;
    color: #333333;
    padding: 2% 2% 2% 2%;
    margin: 5%;
    text-decoration: none;
    border-radius: 1vh;
    font-size: 14pt;
    cursor: pointer;
}

.container {
    width: 100vw;
    max-width: 100%;
    margin-top: 100px;
    box-sizing: border-box;
}

.link {
    font-family: 'Cinzel', sans-serif;
    text-decoration: none;
    transition-duration: 0.2s;
}


#categories {
    width: 500px;
    position: fixed;
    padding: 0 1% 0 1%;
    border-radius: 1vh;
    top: 100px;
    left: 30px;
}

.category {
    width: 100%;
    text-align: center;
    margin-bottom: 3%;
    border-radius: 0.5vh;

}

.category-link {
    line-height: 350%;
    display: block;
    font-size: 15pt;
    text-decoration: none;
}

#selectedTheme {
    width:45%;
    position: absolute;
    right: 400px;
    top: 0;

}

.answer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 98%;
    margin-bottom: 1%;
    padding: 1% 1% 1% 1%;
    border-radius: 1vh;

}

.categoryNotChosen {
    min-height: 84%;
    max-height: 84%;
}

.voteCounter {
    margin-top: 3%;
    border-radius: 1vh;
    text-align: center;
}

.voteField {
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
    width: 5%;
}

.vote {
    width: 75%;
}

.answerText {
    width: 90%;
    overflow-x: auto;
    min-width: 80%;
    margin-left: 1%;
    margin-top: 1%;
    overflow-y: auto;
    white-space: pre-line;
}

.postTitle {
    margin-top: 2%;
    max-width: 90%;
    min-height: 10%;
    max-height: 20%;

    padding-left: 1%;
    border-left-style: solid;
    border-width: 1px;
    overflow-y: auto;
}

.profile {
    display: flex;
    flex-direction: column;
}

.profileName {
    text-align: center;
}

.newAnswer {
    display: flex;
    flex-direction: row;
    height: 29%;
}

.marginButton {
    margin-left: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#answerForm {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 60%;
}

#makeDark {
    background: rgba(87, 78, 63, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#SignUpWindow {
    max-width: 15%;
    max-height: 20%;
    text-align: center;
    padding: 1% 1% 1% 1%;
    border-radius: 1vh;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

#makeDark:target {
    display: block;
}


.sortLink {
    font-size: 12pt;
    margin-left: 1%;
    margin-right: 1%;
    text-decoration: none;

}

.sortLinkArrow {
    display: inline-block;
}

.chosenSortLinkAsc {
    color: coral !important;
}

.chosenSortLink {
    color: paleturquoise !important;
}

#message {
    position: absolute;
    width: 500px;
    line-height: 100px;
    background: hotpink;
    text-align: center;

    right: 0;
    bottom: 0;
}

.postCreationBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 78%;
    height: 50%;
    resize: none;
    text-align: center;
    padding: 1% 1% 1% 1%;
    border-radius: 1vh;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.timeLast {
    text-align: center;
    font-size: 10pt;
    max-width: 100%;
    width: 100%;
    color: #474747;
}

.textAndTime {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
}