body {
    margin: 0 auto;
    width: 80vw;
    max-height: 100vh;
    font-family: 'DM Sans', sans-serif;
    font-size: 14pt;
}

li {
    list-style-type: none; /* Убираем маркеры */
}

.liCategories {
    margin-left: -10%;
    margin-top: 1%;
}

.headerUser {
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: space-between;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.ulPosts {
    min-height: 73%;
    max-height: 73%;
}

a {
    color: white;
}

#ulReplies, #ulPosts {
    overflow-y: auto;
    max-height: 63%;
    padding-left: 0;
}

.ulCategories {
    max-height:90%;
    overflow-y: auto;
    justify-content: center;
}

#topBar {
    line-height: 200%;
    height: 5%;
    padding: 0.7% 1% 0 1%;
    background: #343338;
    border-radius: 0 0 1vh 1vh;
}


.replyImage {
    max-width: 70%;
    margin-left: 4%;
    margin-bottom: 10%;
    border-top-left-radius: 0;
}

.categoryHeader {
    margin-left: 1%;
}

.myAvatar {
    margin-left: 1%;
}

.colorTextDanger {
    color: darkred !important;
}

.colorTextDark {
    color: #333333;
}

.colorTextLight {
    color: #ffffff;
}

.colorBackground {
    background: #ffffff;
}

.colorMain {
    background: #343338;
}

.colorSection {
    background: #CBC9D0;
}

.colorDarkLink {
    transition-property: background-color;
    transition: .1s;
}

.colorDarkLink:hover {
    background-color: #E1A487;
    cursor: pointer;
}


.myButton {
    margin-left: 1%;
    margin-right: 1%;
    border-bottom-left-radius: 1vh;
    border-bottom-right-radius: 1vh;
    margin-top: 1%;
}

.borderTop {
    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;
}

.close {
    display: inline-block;
    color: #333333;
    padding: 2% 2% 2% 2%;
    margin: 5%;
    text-decoration: none;
    border-radius: 1vh;
    font-size: 14pt;
    cursor: pointer;
}

.container {
    display: flex;
    width: 100%;
    height: 101%;
}

.link {
    font-family: 'Cinzel', sans-serif;
    text-decoration: none;
    transition-duration: 0.2s;
}


#categories {
    width: 25%;
    height: 90%;
    padding: 0 1% 0 1%;
    margin: 1% 0 0 0;
    border-radius: 1vh;
}

.category {
    width: 110%;
    text-align: center;
    margin-bottom: 3%;
    border-radius: 0.5vh;

}

.category-link {
    line-height: 350%;
    display: block;
    font-size: 15pt;
    text-decoration: none;
}

.selectedTheme {
    width: 69%;
    height: 89.3%;
    margin: 1% 0 0 2%;
    padding: 0 1% 0.5% 1%;
    border-radius: 1vh;
    flex-direction: column;
}

.answer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 98%;
    margin-bottom: 1%;
    padding: 1% 1% 1% 1%;
    border-radius: 1vh;

}

.categoryNotChosen {
    min-height: 84%;
    max-height: 84%;
}

.voteCounter {
    margin-top: 3%;
    border-radius: 1vh;
    text-align: center;
}

.voteField {
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
    width: 5%;
}

.vote {
    width: 75%;
}

.answerText {
    width: 90%;
    overflow-x: auto;
    min-width: 80%;
    margin-left: 1%;
    margin-top: 1%;
}

.postTitle {
    margin-top: 5%;
    max-width: 80%;
    max-height: 10%;

    padding-left: 1%;
    border-left-style: solid;
    border-width: 1px;
    border-radius: 0.5vh 0 0 0.5vh;

    overflow-y: auto;
}

.profile {
    display: flex;
    flex-direction: column;
}

.profileName {
    text-align: center;
}

.newAnswer {
    display: flex;
    flex-direction: row;
    height: 29%;
}

.marginButton {
    margin-left: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#myAnswer {
    padding: 12px;
    margin-left: 1%;
    margin-right: 1%;
    resize: none;
    width: 90%;
    height: 100%;
    font-size: 14pt;
    border-radius: 1vh;
}

#answerForm {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 60%;
}

#postAnswerButton {
    height: 60px;
}

#makeDark {
    background: rgba(87, 78, 63, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#SignUpWindow {
    max-width: 15%;
    max-height: 20%;
    text-align: center;
    padding: 1% 1% 1% 1%;
    border-radius: 1vh;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

#makeDark:target {
    display: block;
}

.sortLink:visited {
    color: white;
}

.sortLink:hover {
    color: #E1A487;
}

.sortLink {
    font-size: 12pt;
    margin-left: 1%;
    margin-right: 1%;
    text-decoration: none;
}

#message {
    position: absolute;
    width: 500px;
    line-height: 100px;
    background: hotpink;
    text-align: center;

    right: 0;
    bottom: 0;
}

.window {
    background: rgba(87, 78, 63, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.windowContent {
    max-width: 15%;
    max-height: 25%;
    text-align: center;
    padding: 1% 1% 1% 1%;
    border-radius: 1vh;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

#profileTopBar {
    position: relative;
}

#profileOptionsList {
    display: block;
    position: absolute;
    right: 0;
    top: 60px;
    width: 200%;
    padding: 2%;
    background-color: white;
    border-radius: 1vh;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

#profileOptionsList a {
    color: black;
    text-decoration: none;
    max-width: 100%;
    height: 100%;
    padding: 0 15px;
    display: block;
    transition: .2s;
    transition-property: background-color, color;
}

#profileOptionsList > li {
    font-size: 1rem;
    line-height: 2;
}

#profileOptionsList a:hover {
    background-color: #E1A487;
}

#profileOptionsList a:active {
    background-color: lightcoral;
}

.hidden {
    display: none !important;
}

.postCreationBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 78%;
    height: 50%;
    resize: none;
    text-align: center;
    padding: 1% 1% 1% 1%;
    border-radius: 1vh;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.timeLast {
    text-align: center;
    font-size: 10pt;
    max-width: 100%;
    width: 100%;
    color: #474747;
}

.textAndTime {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
}